@model OrderViewModel;
@{
    ViewData["Title"] = "Orders Page";
}

<h3>Orders</h3>
<div>
    @foreach (Order order in Model.Response)
    {
        <p>
            Customer Name: @order.CustomerName<br />
            Order Date: @order.OrderDate<br />
            Number of Items: @order.ItemCount
        </p>
    }
</div>

